---
import "src/globals.css";

import Chip from "@components/Chip.astro";
import Contacts from "@components/Contacts.astro";
import Project from "@components/Project.astro";
import MiniProject from "@components/MiniProject.astro";
import Layout from "src/layouts/layout.astro";
import Menu from "@components/Menu.astro";
import Toast from "@components/Toast.astro";
---

<Toast />
<Layout>
  <div
    class="top-0 flex flex-col gap-8 pt-20 lg:fixed lg:col-span-2 lg:h-screen lg:justify-between lg:pt-48"
  >
    <div class="flex flex-col gap-2">
      <h1>
        <a href="/" class="hover:no-underline"> Remi Vaughan </a>
      </h1>
      <p class="pb-24 indent-4 text-lg lg:pb-0">
        Your next full-stack developer
      </p>
    </div>
    <Menu extraWidth={30} />
    <Contacts class="hidden flex-row gap-8 pb-24 lg:flex" />
  </div>
  <main
    id="aboutme"
    class="grid min-h-screen grid-cols-1 gap-x-2 pb-8 lg:grid-cols-5 lg:pb-24"
  >
    <div class="lg:col-span-2"></div>
    <div class="sm:px-16 lg:col-span-3 lg:pt-24">
      <h2 class="w-full pb-8">About me</h2>
      <div>
        <p class="pb-4">
          Hey, I&apos;m Remi! I like to make things with code. Right now
          I&apos;m really into mobile development. Thanks for checking out my
          website!
        </p>
        <p class="pb-4">
          I started programming in highschool to make scripts for games I
          played, which ultimately got me interested in software development in
          general. I recently graduated from NYU with a CS bachelor&apos;s
          degree, and you can find me now creating delightful user-experience
          for both mobile devices and the web.
        </p>
        <p>Check out my projects below!</p>
      </div>
      <h2 id="projects" class="pb-0 pt-32">Projects</h2>
      <div class="flex flex-col gap-16">
        <div id="timetracker"></div>{" "}
        {/* For that one google app... remove later */}
        <Project
          title="Temporal"
          description={[
            "A time-tracking app that helps you keep track of your daily activities and how much time you spend on them.",
            "Run timers with projects, descriptions, and tags. Later, use entries to review how you spent your time.",
            "Supports syncing entries across devices via Toggl. Checkout the demo video!",
          ].join(" ")}
          image="/src/assets/thumbnails/timetracker.png"
          skills={["React Native", "Typescript", "Expo", "Tailwind", "Sqlite"]}
          id="temporal"
        >
          <Chip
            message="Pending review from Google Play Store..."
            leadingIcon="/src/assets/icons/playstore.png"
            name="Playstore"
            hideWhenSmall={true}
          />
          {
            /* <Chip
            alert="Pending review and testing as per recent changes to Play Store policy"
            leadingIcon="/src/assets/icons/android.png"
            name="APK"
          /> */
          }
          <Chip
            href="https://github.com/Remiwi/TimeTracker"
            leadingIcon="/src/assets/icons/github.png"
            name="Repo"
          />
          <Chip
            href="https://www.youtube.com/watch?v=-bqt96mCDNk"
            leadingIcon="/src/assets/icons/youtube.png"
            name="Demo"
            highlighted={true}
          />
        </Project>
        <Project
          title="Routines App"
          description={[
            "A mobile app that helps you keep track of your daily routines and habits.",
            "Create habits and group them into routines, then track your progress and see your streaks.",
            "Mark days as partial successes to encourage yourself to make some progress even on bad days.",
          ].join(" ")}
          image="/src/assets/thumbnails/routines.png"
          skills={["React Native", "Typescript", "Expo", "Sqlite"]}
          id="routines"
        >
          <Chip
            href="https://github.com/Remiwi/RoutinesApp"
            leadingIcon="/src/assets/icons/github.png"
            name="Repo"
            highlighted={true}
          />
        </Project>
        <Project
          title="YouCaption"
          description={[
            "A web-app to replace the now-defunct YouTube community captions feature.",
            "Create and share captions for videos made by your favorite creators.",
            "Search for and download subtitle files for videos or creators and in any language.",
            "Add captions your community makes to your videos to expand your audience!",
          ].join(" ")}
          image="/src/assets/thumbnails/youcaption.png"
          skills={["React", "Typescript", "Python", "PostgreSQL"]}
          id="youcaption"
        >
          <Chip
            href="https://github.com/Remiwi/YouCaption"
            leadingIcon="/src/assets/icons/github.png"
            name="Repo"
            highlighted={true}
          />
          {
            /* <Chip
            href="/YouCaption"
            leadingIcon="/src/assets/icons/newtab.png"
            name="Live"
            highlighted={true}
          /> */
          }
        </Project>
        <Project
          title="This Portfolio!"
          description="The website you're on right now! Hardly needs explaining. If you like it, or anything else here, feel free to reach out to me!"
          image="/src/assets/thumbnails/portfolio.png"
          skills={["React", "Tailwind", "Typescript"]}
          id="portfolio"
        >
          <Chip
            leadingIcon="/src/assets/icons/newtab.png"
            name="Live"
            message="But you're already here..."
          />
          <Chip
            href="https://github.com/Remiwi/portfolio"
            leadingIcon="/src/assets/icons/github.png"
            name="Repo"
            highlighted={true}
          />
        </Project>
      </div>
      <h2 id="games" class="pb-8 pt-32">Games</h2>
      <div class="flex flex-col items-center gap-12 pb-24">
        <MiniProject
          title="Blitz"
          href="https://remivaughan.itch.io/cs3113-exercise-3"
          image="/src/assets/thumbnails/blitz.png"
          description="Fast-paced chess-themed shoot-em-up game, inspired by the style of old SNES games"
        />
        <MiniProject
          title="Marble Maize Game"
          href="https://remivaughan.itch.io/cs3113-exercise-2"
          image="/src/assets/thumbnails/maize.png"
          description="3D obstacle course where you play as a hamster in a ball, inspired by Monkey Ball"
        />
        <MiniProject
          title="Spirit Solver"
          href="https://remivaughan.itch.io/cs3113-exercise-6"
          image="/src/assets/thumbnails/spiritsolver.png"
          description="Point-and-click detective adventure game, inspired by the style of Paper Mario"
        />
      </div>
      <h2 id="coursework" class="pb-8 pt-32">Misc coursework</h2>
      <div class="flex flex-col items-center gap-12 pb-60">
        <MiniProject
          title="Machine Learning Connect-4 AI"
          href="https://github.com/Gaurang-1402/Machine-Learning-final-project"
          description="AI that uses an ML algorithm under the hood to determine the best move to make in Connect-4"
          image="/src/assets/thumbnails/connect-4.png"
        />
        <MiniProject
          title="Commercial Flight Database Prototype"
          description="Web-app for display and management of user-generated commerical flight data built for Databases course"
          image="/src/assets/thumbnails/frs.png"
        />
        {
          /* <MiniProject
          title="Lasyre Synthesizer"
          description="Arduino-based synthesizer that uses an array of lasers to detect finger position and make sound!"
          image="/src/assets/thumbnails/lasyre.png"
        /> */
        }
      </div>
    </div>
    <h3 class="w-full pt-20 text-center text-lg font-semibold lg:hidden">
      Contact me
    </h3>
    <Contacts
      class="grid grid-cols-3 justify-between px-8 pt-4 text-center lg:hidden"
    />
  </main>
</Layout>
